.label {
  color: #787878;
  margin: 0 auto;
}

.details {
  font-size: 1.2rem;
  color: #494949;
  margin: 0 auto;
  border: none;
  outline: none;
}

.profileDetails {
  border-bottom: 0.1rem solid #ececec;
  margin-top: -1rem;
}
