.alertItemLogin {
  z-index: 0;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 0.1rem;
  transition: all 0.2s ease;
  background: #ecc8c5;
  color: #b32f2d;
  text-align: center;
}

.warning {
  position: fixed;
  top: 70%;
  left: 50%;
  width: 40%;
  background: #f8f3d6;
  color: #967132;
}

.alertItemLoginError {
  position: relative;
  width: 40%;
  top: 20%;
}

.inactiveLogin {
  z-index: 0;
  position: fixed;
  top: 80%;
  left: 120%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  padding: 0.4rem 1rem;
  border-radius: 0.1rem;
  transition: all 0.2s ease;
}

.alertItemSendingMessage {
  position: relative;
  top: -2rem;
  margin: 0 auto;
  width: 9rem;
  padding-top: 0.4rem;
  text-align: center;
  height: 2rem;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #b32f2d;
  color: #ffffff;
  border-radius: 0.8rem;
  opacity: 1;
  transition: all 0.5s ease;
}

.inactiveAlertItemSendingMessage {
  position: relative;
  margin: 0 auto;
  width: 9rem;
  padding-top: 0.4rem;
  text-align: center;
  height: 0rem;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #b32f2d;
  color: #ffffff;
  border-radius: 0.8rem;
  opacity: 0;
  transition: all 0.1s ease;
  visibility: hidden;
}

.errorAddingContact {
  top: 0rem;
}

.data {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.title {
  font-weight: 700;
}
.sub {
  font-size: 0.8rem;
  font-weight: 100;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 1.6rem;
}

.close:hover {
  color: #ce837d;
}

@media (max-width: 800px) {
  .alertItemLoginError {
    width: 80%;
  }

  .alertItemLogin {
    padding: 1rem 0.5rem;
  }
}

@media (max-width: 450px) {
  .warning {
    top: 60%;
    width: 60%;
    left: 20%;
  }
}
