.alertItem {
  z-index: 0;
  position: fixed;
  top: 80%;
  left: 70%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  padding: 0.4rem 1rem;
  border-radius: 0.1rem;
  transition: all 0.2s ease;
  background: #ecc8c5;
  color: #b32f2d;
}

.warning {
  background: #f8f3d6;
  color: #967132;
}

.inactive {
  z-index: 0;
  position: fixed;
  top: 80%;
  left: 120%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  padding: 0.4rem 1rem;
  border-radius: 0.1rem;
  transition: all 0.2s ease;
}

.data {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.title {
  font-weight: 700;
}
.sub {
  font-size: 0.8rem;
  font-weight: 100;
}

.close {
  cursor: pointer;
  position: relative;
  top: -0.8rem;
  left: 0.4rem;
  font-size: 1.4rem;
}

.close:hover {
  color: #ce837d;
}

@media (max-width: 625px) {
  .alertItem {
    left: 50%;
  }
}

@media (max-width: 420px) {
  .close {
    top: -1rem;
  }
}

@media (max-width: 400px) {
  .alertItem {
    width: 55%;
  }

  .close {
    top: -1rem;
    left: 0.5rem;
  }
}
