.sidebarAddContact {
  display: flex;
}
.sidebarInputField {
  border: 0.1rem solid #eeeeee;
  border-radius: 0.8rem;
  margin: 0.3rem 0rem 0.3rem 0.3rem;
  padding: 0rem 0rem 0rem 0.5rem;
  width: 95%;
  outline: none;
}

.addContact {
  width: 5%;
  color: #787878;
  font-size: 2rem;
  margin-right: 2rem;
  margin-left: 1rem;
  cursor: pointer;
}

.addContact:active,
.addContact:hover {
  color: #494949;
}

.addContact:active {
  transform: scale(0.98);
}
