.chatComponent {
  display: flex;
}

.sidebar {
  border-top: 0.2rem solid #ececec;
  width: 30%;
  position: fixed;
  height: 100vh;
  top: 0%;
  overflow-y: scroll;
}


.messagingSection {
  width: 70%;
  font-size: 2rem;
  text-align: center;
  left: 30%;
  position: absolute;
  height: 100vh;
}

.messagingSectionMessages{
      border: 1px solid red;
      height: 78%;
      overflow-y: scroll;
}