.chatComponent {
  display: flex;
}

.sidebar {
  width: 25%;
  position: fixed;
  height: 100vh;
  top: 0%;
  overflow-y: scroll;
}

.messagingSection {
  width: 75%;
  font-size: 2rem;
  text-align: center;
  left: 25%;
  position: absolute;
  height: 100vh;
}

.messagingSectionMessages {
  height: 80%;
  overflow-y: scroll;
}

.navbarOfSidbarForMobile {
  display: none;
}

.loadingChatsError {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

@media (max-width: 770px) {
  .sidebarPhoneNone {
    display: none;
  }

  .sidebarPhoneDisplay {
    width: 100%;
    height: 100vh;
    position: absolute;
  }

  .messagingSectionPhoneDisplay {
    width: 100%;
    left: 0%;
  }

  .messagingSectionMessagesPhoneDisplay {
    height: 78%;
  }
  .messagingSectionPhoneNone {
    display: none;
  }

  .navbarOfSidbarForMobile {
    display: block;
  }
}
