.inputSection {
  display: flex;
  align-items: center;
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  position: fixed;
  bottom: 0%;
  width: 75%;
  background-color: #ffffff;
}

.inputField {
  border: 0.1rem solid #eeeeee;
  border-radius: 0.8rem;
  padding: 0.5rem 0.5rem 0.5rem 0.8rem;
  font-size: 0.8rem;
  width: 90%;
  outline: none;
}

.sendButton {
  margin-left: 1rem;
  color: #787878;
  font-size: 1.5rem;
  cursor: pointer;
  border: transparent;
  border-radius: 50%;
}

.sendButton:hover {
  color: #494949;
}

.sendButton:active {
  transform: scale(0.98);
}

@media (max-width: 770px) {
  .inputSection {
    width: 100%;
  }
}
