.inputSection {
  display: flex;
  align-items: center;
  padding: 0rem 0rem 0rem 1rem;
}

.inputField {
  border: 0.1rem solid #eeeeee;
  border-radius: 0.8rem;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  font-size: 0.8rem;
  width: 80%;
  outline: none;
}
